<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/articles.css">

  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Home Page</title>
</head>
<body>

  <!-- NAVBAR -->
  <div class="ui menu">
  <div class="header item">
    App Name
  </div>
  <a href="/" class="item">
    Home
  </a>
  <a href="/articles" class="item">
    My Articles
  </a>
  <a href="#" class="item">
    My Work
  </a>
  <form id="logout-button" method="POST" action="/users/logout" class="right floated item">
    <button class="ui button">Log Out</button>
  </form>
</div>

<h1>Welcome back{{#if loggedIn }}, {{username}}{{/if}}!</h1>

</body>
</html>
