<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/articles.css">
  <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Home Page</title>
</head>
<body>

  <!-- NAVBAR -->
  <div class="ui menu">
  <div class="header item">
    <img id="sum-rise-logo" src="/img/SumRise.png">
  </div>
  <a href="/" class="item">
    Home
  </a>
  <a href="/articles" class="item">
    My Articles
  </a>
  <a href="/writing_pieces" class="item">
    My Writing
  </a>
  <form id="logout-button" method="POST" action="/users/logout" class="right floated item">
    <button class="ui button">Log Out</button>
  </form>
</div>

<div id="home-page-content">
<h1 class="welcome-message">Welcome {{#if returningUser}} back to</h1><span><img class="welcome-message" id="sum-rise-logo-welcome" src="/img/SumRise.png"></span><h1 class="welcome-message">{{/if}}{{#if loggedIn }}<span id="username" style="color:red">{{username}}</span>{{/if}}!</h1>
<p id="home-page-message">Get Started With:</p>
<button class="ui large button" onclick="window.location.href='/articles'"><i class="text file icon"></i>Articles</button>
<button class="ui large button" onclick="window.location.href='/writing_pieces'"><i class="pencil icon"></i>Writing</button>

</div>

</body>
</html>
