<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Sign Up</title>
</head>
<body>

  <div id="home-page-content">
  <h1 class="welcome-message">Welcome to</h1><img class="welcome-message" id="sum-rise-logo-welcome" src="/img/SumRise.png"><h1 class="welcome-message"><i class="exclamation icon"></i></h1>

  <div>
    <button class="ui button" onclick="window.location.href='users/login'">Log In</button>
    <button class="ui button" onclick="window.location.href='users/new'">Sign Up</button>
  </div>

  <!-- <div class="ui ordered steps">
    <div class="completed step">
      <div class="content">
        <div class="title">Shipping</div>
        <div class="description">Choose your shipping options</div>
      </div>
    </div>
    <div class="completed step">
      <div class="content">
        <div class="title">Billing</div>
        <div class="description">Enter billing information</div>
      </div>
    </div>
    <div class="active step">
      <div class="content">
        <div class="title">Confirm Order</div>
        <div class="description">Verify order details</div>
      </div>
    </div>
  </div> -->

  </div>

  </body>
  </html>
