h1, #article-grid-header, #writing-grid-header {
  text-align: center;
}

#description {
  font-size: 18px;
  margin-top: -2;
  transform: translateY(-10px);
}

.modal {
  max-width: 100%;
  max-height: 100%;
}

/* View Game Code On GitHub */
#github-logo {
  width: 25px;
  height: auto;
}

.article-label, .writing-label, .folder-label {
  display: inline;
}

#github {
  text-align: center;
}

#view-github {
  display: inline-block;
  padding: 0px 5px;
  font-size: 15px;
  margin-top: 80px;
  text-decoration: none;
  font-family: 'Source Sans Pro';
  color: green;
}

#credits {
  margin-top: 4px;
  font-family: 'Source Sans Pro';
  color: orange;
}

#username {
  font-family: 'Delius Swash Caps';
  letter-spacing: 0.75px;
}

#user-articles-table, #user-writing-table {
  display: inline-flex;
  width: 415px;
  vertical-align: top;
}

#user-writing-table {
  float: right;
}

#edit-article-details, #edit-writing-details {
  margin-top: 10px;
}

#home-page-message {
  font-size: 18px;
  margin-bottom: 10px;
}

#folders-article-grid, #article-grid, #writing_piece-grid {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}

#logout-button {
  text-decoration: none;
}

form {
  display: inline;
}

#folder-menu {
  display: inline-block;
}

.ui.left.icon.input {
  margin-bottom: 10px;
  margin-right: 4px;
}

.folder-form {
  padding: 10px;
}

.multiple.search.selection.dropdown {
  width: 500px;
  margin: 0;
  display: inline-block;
}

.modal-button {
  margin: 100px auto;
}

.ui.centered.grid {
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: pink;
}

#no-entries {
  font-size: 20px;
}

#home-page-content {
  width: 1000px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#no-entries-container {
  position: absolute;
  width: 1000px;
  height: 100px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#signin-form {
  width: 1200px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#sum-rise-logo-welcome {
  width: 175px;
  margin-bottom: 1.50em;
  vertical-align: middle;
}

.welcome-message {
  display: inline;
}

#sum-rise-logo {
  width: 100px;
}

#edit-details-button {
  display: inline-block;
  vertical-align: center;
  margin-left:15px;
}
