<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- <link rel="stylesheet" href="./dist/semantic.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Login</title>
</head>
<body>

  <!-- NAVBAR -->
  <div class="ui menu">
    <div class="header item">
      App Name
    </div>
  </div>

  <div id="signin-form" class="ui center aligned middle aligned grid">
    <div class="six wide column">
      <h1>Sign in to your account</h2>
        <div class="ui stackable segment">
          <form class="ui large form" method="POST" action="/users/login">
            <div class="required field">
              <label>Username</label>
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="name" placeholder="Username">
              </div>
            </div>
            <div class="required field">
              <label>Password</label>
              <div class="ui left icon input required field">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <button class="ui medium button" type="submit">Sign in</button>
          </form>
        </div>
        <div class="ui message">
          <p>Or, sign in with your social media account</p>
          <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
          </button>
          <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
          <p id="new-to-us">New to us? <a href="users/new"> Sign Up</a> here.</p>
        </div>

        <div class="ui error message" style="display:none;">
          <i class="close icon" id="close-error-message"></i>
          <div class="header">
            There were some errors with your submission
          </div>
          <ul class="list">
            <li>Your password is incorrect.</li>
            <li><b>New to us? <a href="/users/new"> Sign Up</a></b> here.</li>
          </ul>
        </div>

      </div>

    </div>

    <script>
    {{#if loginFailure}}
    $('.ui.error.message').show();
    $('#new-to-us').hide();
    $('#close-error-message').click(function() {
      $('.ui.error.message').hide();
    });
    {{/if}}


    </script>

  </body>
  </html>
