<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Sign Up</title>
</head>
<body>
  <!-- NAVBAR -->
  <div class="ui menu">
    <div class="header item">
      App Name
    </div>
  </div>

  <div id="signin-form" class="ui center aligned middle aligned grid">
    <div class="six wide column">
        <div class="ui attached message">
          <div class="header">
            <h2>Welcome!</h2>
          </div>
          <p id="remove-prompt">Fill out the form below to sign-up for a new account</p>
        </div>

        <div class="ui orange message" id="register-message" style="display:none;">
          <i class="close icon" id="close-register-message"></i>
          <div class="header">
            Seems like you have not registered with us!
          </div>
          <p>Fill out the form below to sign-up for a new account</p>
        </div>

        <div class="ui stackable segment">
          <form class="ui large form" method="POST" action="/users">
            <div class="required field">
              <label>Username</label>
              <div class="ui left icon input required field">
                <i class="user icon"></i>
                <input type="text" name="name" placeholder="Username">
              </div>
            </div>
            <div class="required field">
              <label>Email</label>
              <div class="ui left icon input required field">
                <i class="mail icon"></i>
                <input type="password" name="email" placeholder="jane.doe@gmail.com">
              </div>
            </div>
            <div class="required field">
              <label>Password</label>
              <div class="ui left icon input required field">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <button class="ui medium button" type="submit">Sign up</button>
          </form>
        </div>
        <div class="ui message">
          <p>Sign up with your social media account</p>
          <button class="ui circular facebook icon button">
            <i class="facebook icon"></i>
          </button>
          <button class="ui circular google plus icon button">
            <i class="google plus icon"></i>
          </button>
          <button class="ui circular twitter icon button">
            <i class="twitter icon"></i>
          </button>
        </div>
        <div class="ui bottom attached warning message">
          <i class="icon help"></i>
          Already signed up? <a href="login">Login here</a> instead.
        </div>
      </div>
    </div>

    <script>
    {{#if needToRegister}}
    $('#register-message').show();
    $('#remove-prompt').hide();
    $('#close-register-message').click(function() {
      $('#register-message').hide();
    });
    {{/if}}
    </script>

  </body>
  </html>
