<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form class="article-form" method="POST" action="/articles">
    <!-- <div class="article-attribute">
      id:<input name="id" type="text"/>
    </div> -->
    <div class="article-attribute">
      user_id:<input name="user_id" type="text"/>
    </div>
    <div class="article-attribute">
      title:<input name="title" type="text"/>
    </div>
    <div class="article-attribute">
      url:<input name="url" type="text"/>
    </div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
