<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="./dist/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>

  <form class="ui form article-form" method="POST" action="/articles">
      <!-- <div class="eight wide field">
        <label>Article Title</label>
        <input id="title-input" name="title" type="text"/>
      </div> -->
      <div class="ten wide field">
        <label>URL</label>
        <input id="url-input" name="url" type="url"/>
      </div>
    <button class="ui button" id="submit-button" type="submit">Submit</button>
  </form>

  <!-- FORM VALIDATOR -->
    <div id="form-validator" class="ui error message" style="display:none;">
      <ul id="form-validator-list" class="list">
      </ul>
    </div>

  <div class="ui success message" style="display:none;">
    <i class="close icon" id="close-success-message"></i>
    <div class="header">
      Your article was successfully created.
    </div>
    <p>Enjoy reading!</p>
  </div>

  <div class="ui active dimmer" style="display:none;">
    <div class="ui text loader">Creating Article</div>
  </div>

</body>
<script>

{{#if create_success}}
$('.article-form').hide();
$('.success.message').show();
$('#close-success-message').click(function() {
  $('.success.message').hide();
});
{{/if}}

// validate form
$( "form" ).submit(function( event ) {

  // if both a username and password have been entered
  if ( $('#url-input').val() !== "") {
    $('.ui.active.dimmer').show();
    return;
  }

  // display error message
  $('#form-validator').show();
  $( "#form-validator-list" ).empty();
  // 
  // if ( $('#title-input').val() == "") {
  //   $( "#form-validator-list" ).append('<li>Please enter a title for the article</li>');
  // }

  if ( $('#url-input').val() == "") {
    $( "#form-validator-list" ).append('<li>Please enter the article URL</li>');
  }

  event.preventDefault();
});

</script>

</html>
